@use '../../../styles.scss' as *;
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
      &:hover {
        color: $accent-color;
      }
    }
  }

  .theme-btn {
    i {
      font-size: 1.3rem;
      color: $accent-color;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
}

