<nav class="navbar">
  <div class="logo">MyPortfolio</div>

    <button class="hamburger" (click)="toggleMenu()">
    <i class="fas fa-bars"></i> <!-- Or use an SVG -->
  </button>

  <ul class="nav-links" style="margin-left: 752px;">
    <li><a href="#hero">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <!-- Add this here -->
  <app-theme-toggle class="theme-btn"></app-theme-toggle>
</nav>

