<section class="projects" @fadeIn>
  <h2>Projects</h2>
  <div class="grid">
    <div class="card" *ngFor="let project of projects">
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
      <ul>
        <li *ngFor="let tech of project.tech">{{ tech }}</li>
      </ul>
      <div class="buttons">
        <a *ngIf="project.codeLink" [href]="project.codeLink" target="_blank">View Code</a>
        <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank">Live Demo</a>
      </div>
    </div>
  </div>
</section>

